# Java files #
*.class

# Package Files #
# *.jar
*.war
*.ear

# Play! files #
logs
project/project
project/target
target
tmp
.history
dist
prod
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.metadata
/.target
/public/images/usertasks
/public/images/avatars

# Sublime Files #
*.sublime-*