@main("Breath - Bringing people from virtual to real life!") {

    <div class="bodycontainer">
        <h1>What is breath?</h1>
            <p>Breath is a real life game in which you get huge list of tasks which you have to perform in real life and prove it by uploading your picture or video while performing that task though breath is in its beta version so only picture upload is possible for now.. The more task you successfully perform the more points you get and higher your rank will be. There is a list of top players and your goal is to reach the top level. </p>
    
        <h1>How to play?</h1>
            <p>Playing is simple, easy and fun. Just goto Tasks page and select a task you want to perform, upload supporting picture/video and wait till it is approved.</p>
    
        <h1>How my task is approved?</h1>
            <p>Every player gets 10 checks initially per day means your tasks are approved by other players as well as our monitoring team as well. According to the task selected every supporting picture/video will have to reach a specific number of approvals or disapprovals before the final decision. Every task can be approved or disapproved only once by each user so you do not have to worry that a specific user will missuse his checks against you, it can only be done once for each task.<br />
            <br />
            <br />
            </p>
    </div>

}
